body{
	background-color: #e9d4f5;
}

h1{	
	font-family: arial;
	color:#5b63ce;
	font-size:4em;
}

h3{	
	font-family: arial;
	font-size:2em;
	position: relative;
	left: 100px;
	color: #40c5ae;
}

.url{
	font-family: arial;
	font-size:130%;
	color: #da4ec8;
	border:1px  #7624ce solid;
	padding: 10px;
	text-decoration: none;
	background-color: #99d0e4;
	width: 400px;
}


label{
	font-family: arial;
	font-size:130%;
	color: #d691d6;
	padding: 20px;
}

table{
	border: 2px #d07d7d solid;
	border-collapse: collapse;
	margin:40px auto;
	width:80%;
	font-family: arial;
	text-align: center;
	color: #8849ff;
	font-size:130%;
	background-color: #77ead67d;
}

th {
	width: 30px;
	padding: 15px;
}	

td, tr{
	padding: 15px;
	width: 20px;
}


label{
	font-family: arial;
	text-align: center;
	color: #0d08d6;
	font-size:130%;
}

.input{
	color: #8849ff;
	border:1px  #7624ce solid;
	padding: 10px;
	text-decoration: none;
	background-color: #a5e8db;
	padding: 15px;
	width: 400px;
	font-family: arial;
}

.botao{
	font-size:110%;
	color: #8849ff;
	border:1px  #7624ce solid;
	padding: 10px;
	text-decoration: none;
	background-color: #a5e8db;
	width: 400px;
	font-family: arial;
}

.rad{
	font-family: arial;
	color: #8849ff;
	font-size:80%;
}